.cards:hover{
    transition: $hoverIndexSections;
    transform: scale(0.9);
}

.cardAlone:hover{
    transition: $hoverIndexSections;
    transform: scale(1.2);
}

.heroSecHistory:hover{
    transition: $hoverIndexSections;
    transform: scale(1.1);
}

.footer__social:hover{
    transition: $hoverIndexSections;
    transform: scale(1.2);
}

button:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
} 
